$bodyBg: #F3F4FA;
$mainBg: rgb(255, 255, 255);
$mainColor: #8624DB;
$txtColor: #353337;
$purple: #8624DB;
$orange: #fa6a35;
$white: #fff;
$black: rgb(0, 0, 0);
$green: #4CAF50;
$red: #DB190C;

$fontFamily: 'Ubuntu', sans-serif;
$fontSizeExtraLarge: 1.8rem;
$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 384px;
$sideBarLogoHeight: 171px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 30px;

$mobile-width: 600px;
$tablet-width: 1366px;
